 /* global */

 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    direction: rtl;
    font-family: 'Vazir', sans-serif;
}

a {
    text-decoration: none;
}

.wrapper {
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 20px;
}

.product {
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 5px 15px 10px 0px #cab7b7;
    text-align: center;
    padding: 7px 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}

.product :hover {
    transform: scale(1.2, 1.1);
}

.product img {
    width: 100%;
}


.d-flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* header */

#header {
    box-shadow: 6px 2px 20px 0px #cab7b7;
    display: flex;
    align-items: center;
    padding: 5px 20px;
}

#header .bar {
    display: none;
}

#header form {
    margin-right: auto;
}

#header nav {
    margin-right: 35px;
}

#header nav a {
    padding: 0 18px;
    color: rgb(61, 60, 60);
    border-bottom: 2px solid transparent;
    transition: 1s;
    border: 2px solid goldenrod;
    border-radius: 5px;
}

#header nav a:hover {
    border-color: #C62828;
    color: rgb(61, 60, 60);

}

#header input {
    padding: 4px 10px;
    border-radius: 5px;
    border: 2px solid goldenrod;
}

#header input:focus {
    outline: none;
}

@media screen and (max-width: 700px) {
    #header {
        justify-content: space-between;
    }

    #header form {
        margin-right: 0;
    }

    #header nav {
        display: none;
    }

    #header .bar {
        display: block;
    }
}

@media screen and (max-width: 450px) {
    #header form {
        display: none;
    }
}



.product {
    width: 19%;
}

@media screen and (max-width: 1200px) {
    .product {
        width: 48%;
    }

    .product:last-child {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .product {
        width: 90%;
    }

    .product:last-child {
        display: block;
    }
}


.saat {
    width: 19%;
    border-radius: 45%;
    box-shadow: 6px 0px 20px 0px #cab7b7;
    text-align: center;
    padding: 2px 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #F44336;

}

.saat :hover {
    transform: scale(0.9, 0.9);

}

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: right;
    width: 80%;
    height: 30%;
    background: #f1f1f1;
}

form.example button {

    width: 20%;
    height: 32px;
    padding: 5px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-radius: 4px;
    border-left: none;
    cursor: pointer;
    text-align: center;
    justify-content: center;
}

form.example button:hover {
    background: #0b7dda;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

.titr {
    text-align: center;
    justify-content: center;
    margin: auto;
    border: 1px solid green;
    border-radius: 10px;
    background-color: greenyellow;
    width: 200px;
}

.blueline {
    display: flex;
    background-color: #1565C0;
    color: whitesmoke;
    width: 100%;
    height: 70px;
    text-align: center;
    justify-content: center;
    padding-top: 20px;





}

.namad {
    display: flex;
    padding: 50px 2px;
    margin-bottom: 10px;
    overflow: hidden;
}

.foot1 {


    color: whitesmoke;
    width: 100%;

    font-size: large;
    padding: 20px 100px;
    overflow: hidden;

}

.vorod {
    border-radius: 8px;
    width: 75%;
    height: 25px;
    padding: 2px 10px 10px 10px;
    margin-right: 40px;
    background: #2196F3;
    font-size: 110%;
    text-align: center;
    color: blanchedalmond;


}

.vorod :hover {
    background: chartreuse;

}

.buy {
    border: 8px solid #43A047;
    background-color: #43A047;
    color: ivory;
    border-radius: 8px;
    width: 75%;

}

.share {
    text-align: center;
    font-size: xx-large;
    font-size: 45px;
}

.support :hover {
    cursor: pointer;
    transform: scale(1, 1);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    direction: rtl;
    font-family: 'Vazir', sans-serif;
}

a {
    text-decoration: none;
}

#header nav {
    margin-right: 35px;
}

#header nav a {
    margin: 10px;
    padding: 10px 40px;
    color: rgb(61, 60, 60);
    border-bottom: 2px solid transparent;
    transition: 1s;
    border: 2px solid goldenrod;
    border-radius: 5px;
}

#header nav a:hover {
    border-color: whitesmoke;
    color: black;
}

.wrapper {
    width: 80%;
    height: auto;
    margin: 0 auto;
}

#navigation {
    float: right;
}

#navigation li {
    display: inline;
    list-style: none;
}

#navigation li a {
    color: #fff;
    text-decoration: none;
    padding: 30px;
    float: right;
}

#topLogo {
    float: left;
    margin-top: 15px;
}

#navigation li a:hover {
    color: #00e4d5;
}

.siteDescripton {
    width: 80%;
    height: auto;
    margin: 100px auto;
    text-align: center;
    color: white;
}

.siteDescripton h1 {
    padding-bottom: 5px;
    font-size: 36px;
    border-bottom: 1px solid #00e0d0;
    display: inline;
}

.siteDescripton h2 {
    margin-top: 30px;
    font-size: 20px;
    line-height: 2;
}

.siteDescripton a {
    display: inline-block;
    text-decoration: none;
    border: 1px solid #00e0d0;
    border-radius: 3px;
    color: #00e0d0;
    padding: 5px 10px;
    margin-top: 20px;
}

.siteDescripton a:hover {
    border: 1px solid white;
    background-color: #00e0d0;
    color: white;
}

#slideNav {
    margin-top: 80px;
}

#slideNav span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin: 5px;
    background-color: rgba(255, 255, 255, .5);
    border: 1px solid white;
    box-sizing: border-box;
}

#slideNav .active {
    background-color: #e00000;
}

#slideNav div {
    width: 100px;
    margin: 0 auto;
}

#customerComments {
    background-image: url("../images/bg2.png");
    width: 100%;
    height: 500px;
    padding-top: 60px;
}

#customerComments img:first-of-type {
    display: block;
    margin: 0 auto;
}

#customerComments p {
    color: white;
    line-height: 1.6;
    margin-top: 60px;
    margin-bottom: 20px;
    text-align: justify;
    text-align-last: center;
    font-size: 18px;
}

#customerComments p strong {
    font-size: 18px;
}

#customerComments p span {
    font-size: 16px;
}

#customerComments img:last-of-type {
    display: block;
    margin: 0 auto;
}


#contact {
    width: 100%;
    background-color: white;
    padding: 50px 0;
}

#contact .right {
    width: 50%;
    float: right;
    padding: 20px;
}

#contact .left {
    width: 50%;
    float: left;
    padding: 20px;

}

#contact .left h2,
#contact .right h2 {
    color: #413d4b;
    margin-bottom: 20px;
}

#contact .left img {
    display: block;
    margin: 0 auto;
}

#contact .right input,
#contact .right textarea {
    font-family: IranNastaliq, 'IranNastaliq', tahoma;
    display: block;
    width: 90%;
    margin: 20px 0;
    font-size: 14px;
    outline: none;
    padding: 0 10px;
    border: 1px solid #e5e5e5;
}

#contact .right input {
    height: 35px;
}

#contact .right textarea {
    height: 180px;
    resize: none;
}

#sendCmdMsg {
    border: 1px solid #00e0d0;
    padding: 15px;
    width: 100px !important;
    color: #00e0d0;
    font-size: 16px !important;
    border-radius: 4px;
    background-color: inherit;
}

#sendCmdMsg:hover {
    background-color:#00e0d0;
    color: white;
}

#footer {
    background-image: url("../images/bg3.png");
    width: 100%;
    height: 300px;
}

#footer .right {
    width: 50%;
    float: right;
    padding: 20px;
}

#footer .left {
    width: 50%;
    float: left;
    padding: 20px;

}

#footer .right,
#footer .left {
    margin-top: 30px;
}

#footer p {
    color: white;
    font-size: 18px;
    line-height: 1.8;
    text-align: justify;
}

#footer h2 {
    color: white;
}

#copyRight {
    float: right;
    margin-top: 20px;
}

#footerLink {
    float: left;
}

#footerLink a {
    margin-top: 20px;
    color: white;
    text-decoration: none;
    margin-left: 10px;
    float: left;
}

.titleHeader {
    color: white;
    border-right: 6px solid #00e0d0;
    padding-right: 10px;
    margin-top: 25px;
    position: relative;
    right: -40px;
    top: 10px;
}

#aboutUs .right {
    width: 50%;
    float: right;
    padding: 20px;
}

#aboutUs .left {
    width: 50%;
    float: left;
    padding: 20px;
    overflow: hidden;
}

#aboutUs .right h2 {
    color: #413d4b;
    margin-bottom: 15px;
    margin-top: 10px;
}

#aboutUs .right h2:first-of-type {
    text-align: center;
}

#aboutUs p {
    text-align: justify;
    line-height: 2;
    font-size: 14px;
}


#aboutUs .left img {
    max-width: 500px;
}

#contactUs .right {
    width: 50%;
    float: right;
    padding: 20px;
}

#contactUs .left {
    width: 50%;
    float: left;
    padding: 20px;
    overflow: hidden;
}

#contactUs .right h2 {
    color: #413d4b;
    margin-bottom: 15px;
    margin-top: 10px;
}

#contactUs .right p {
    margin-bottom: 20px;
}

#form1 input,
textarea {
    font-family: IranNastaliq, 'IranNastaliq', tahoma;
}

#form1 input:first-child {
    outline: none;
    padding: 3px 7px;
    float: right;
    width: 46%;
    margin-left: 9px;
}

#form1 input:nth-child(2) {
    outline: none;
    padding: 3px 7px;
    float: right;
    width: 47%;
}

#form1 input:nth-child(3) {
    margin-top: 10px;
    outline: none;
    padding: 3px 7px;
    float: right;
    width: 95%;
}

#form1 textarea {
    margin-top: 10px;
    outline: none;
    padding: 3px 7px;
    float: right;
    width: 95%;
    resize: none;
    height: 100px;
}

#form1 input[type=submit] {
    outline: none;
    margin-top: 20px;
    border: 1px solid #00e0d0;
    padding: 3px 5px;
    width: 100px !important;
    color: #00e0d0;
    font-size: 16px !important;
    border-radius: 4px;
    background-color: inherit;
}

#form1 input[type=submit]:hover {
    background-color: #039BE5;
    color: white;
}

#contactUs .left h2 {
    color: #413d4b;
    margin-bottom: 15px;
    margin-top: 10px;
}

#contactUs .supportTel,
#contactUs .supportEmail,
#contactUs .address {
    margin-top: 8px;
}

#contactUs .supportTel div:last-of-type,
#contactUs .supportEmail div:last-of-type,
#contactUs .address div:last-of-type {
    float: left;
    width: 90%;
}

#contactUs .left .icon {
    float: right;
    width: 10%;
    font-size: 20px;
    color: blanchedalmond;
}

#contactUs hr {
    margin-top: 7px;
    width: 90%;
    border: 1px solid #eee;
}

#contactUs h3 {
    color: #413d4b;
    margin-bottom: 3px;
}

.share {
    text-align: center;
    font-size: large;
    font-size: 12px;


}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    direction: rtl;
    font-family: 'Vazir', sans-serif;
}

a {
    text-decoration: none;
}

#header nav {
    margin-right: 35px;
}

#header nav a {
    margin: 10px;
    padding: 10px 40px;
    color: rgb(61, 60, 60);
    border-bottom: 2px solid transparent;
    transition: 1s;
    border: 2px solid goldenrod;
    border-radius: 5px;
}

#header nav a:hover {
    border-color: whitesmoke;
    color: black;
}

#map-canvas {
    width: 700px;
    height: 300px;
    margin: 0 auto;

}
#contactUs .left{
width: 50%;
float: left;
padding: 20px;
overflow: hidden;
}
